body {
  margin: 0;
  padding: 0;
  background-color: #15798b;
color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 800px;
  margin: 0 auto;
  font-family: system-ui;
}
